#cloud-config
manage_etc_hosts: true
chpasswd:
  expire: false
users:
  - name: {{ vmUser }}
    ssh_authorized_keys:
    {% for sshKey in sshKeys %}
      - {{ sshKey }}
    {% endfor %}
package_upgrade: true
runcmd:
  - dhclient -r && dhclient
