#cloud-config
chpasswd:
  expire: false
users:
  - name: {{ vmUser }}
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
    {% for sshKey in sshKeys %}
      - {{ sshKey }}
    {% endfor %}
package_upgrade: true
write_files:
  - path: /usr/local/bin/updateVmHostname
    permissions: '0744'
    content: |
      #!/bin/bash
      hostnamectl set-hostname $1
      sed -i "s/debian/$1/g" /etc/hosts
      dhclient -r && dhclient
